# Vitis HLS build artifacts
/solver/
/.cache/
/compile_commands.json
/.Xil/

# Logs and temporary files
*.log
*.jou
*.str
*.backup.log

# IDE specific
../_ide/
/config.h.bak

# Ignore object files and dependent files
*.o
*.d

# Ignore lock files
*.lock

*.bin
*.pdi
*.vitisWorkspace.json
